.section-services {
  background: #e5e5e5;
  padding-left: 100px;
  padding-right: 100px;
}
.section-services.tablet-width {
  background: #e5e5e5;
  padding-left: 10px;
  padding-right: 10px;
}
.section-services .section-img {
  width: 50%;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
