.section-clients {
  position: relative;
}
.clients-main-img {
  width: 100%;
}
.clients {
  text-align: center;
  position: absolute;
  top: -50px;
  left: 10%;
  width: 80%;
  align-self: center;
}
.clients-text-loop {
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 45%;
  left: 5%;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  line-height: 4vw;
  color: #ffffff;
  width: 90%;
}
.clients-text-loop span {
  width: 100%;
}
.clients-blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(30px);
  z-index: -1;
  border-bottom: 5px solid;
}
.clients-content {
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
}
.clients-content img {
  margin: auto;
  width: 20%;
  min-width: 100px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
}
.clients-content img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
}
