.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer.small-width .row1,
.footer.small-width .row2 {
  padding: 10px;
}
.footer .row1 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
.footer.small-width .row1 {
  flex-direction: column;
}
.footer .row1-mail {
  width: 50%;
}
.footer .row1-mail h3 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: -0.89px;
  color: #495057;
  padding-bottom: 50px;
}
.footer.small-width .row1-mail h3 {
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  padding: 0px;
}
.footer .row1-mail span {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: -0.64px;
  color: #556ee6;
}
.footer.small-width .row1-mail span {
  font-size: 13px;
  line-height: 44px;
}
.footer .row1-contacts {
  width: 50%;
}
.footer .row1-contacts p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -0.33px;
  color: #3d3d3d;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  align-self: center;
}
.footer.small-width .row1-contacts p {
  font-size: 11px;
  line-height: 18px;
  padding: 0px;
}
.footer .row1-contacts img {
  width: 25px;
}
.footer .row2 {
  width: 100%;
  background: #eff2f7;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.footer .row2-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.18px;
  color: #495057;
  max-width: 400px;
}
.footer.small-width .row1-mail,
.footer.small-width .row1-contacts,
.footer.small-width .row2-text {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
}
.footer .row2-copyright {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.01px;
  color: #989898;
  text-align: center;
}
.footer-hr {
  width: 80%;
}
