.navbar {
  width: 100%;
  max-width: 100%;
  min-height: 3vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 100px;
  padding-right: 100px;
}
.navbar.small-width {
  padding: 50px 30px 50px 30px;
}
.small-width .logo {
  width: 100%;
}
.small-width .logo img {
  width: 80%;
  max-width: 180px;
}
.navigation {
  ul {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    min-height: 6vh;
    justify-content: flex-end;
    padding-top: 10px;
    align-items: center;

    li {
      text-align: center;
      padding: 0.5em;
      cursor: pointer;
    }

    li a {
      text-decoration: none;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #fcfdff;
    }
  }
}
