.yellow-btn {
  font-family: Rubik !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #464db7 !important ;
  background: #ffcb06;
  border-radius: 56px;
  padding: 15px !important;
}
